services:
  redis:
    image: redis:7
    container_name: redis_server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  llm:
    build: ./llm       # point to your LLM directory with Dockerfile
    container_name: llm_server
    ports:
      - "11434:11434"
    restart: unless-stopped
    volumes:
      - ollama-data:/root/.ollama   # persist Ollama data/models
    

volumes:
  redis_data:
  ollama-data: